In [41]:
# Import necessary libraries

from bs4 import BeautifulSoup
import requests
import pandas as pd

In [46]:


base_url = 'https://www.airlinequality.com/airline-reviews/british-airways'

pages=10
page_size=100

reviews = []
seat_type = []
route =[]
seat_comfort = []
cabin_staff_service = []
food_beverages = []
ground_service = []
value_for_money = []
recommend =[]
overall_rating = []


for i in range(1, pages + 1):
    print(f"Scraping page {i}")

    # Create URL to collect links from paginated data.
    url = f"{base_url}/page/{i}/?sortby=post_date%3ADesc&pagesize={page_size}"

    # Collect HTML data from this page.
    page = requests.get(url)

    # Parse content.
    content = page.content
    soup = BeautifulSoup(content, "html.parser")
    for para in soup.find_all("div", {"class": "text_content"}):
        reviews.append(para.get_text())
    for para in soup.find_all("td", {"class": "review-rating-header cabin_flown "}):
        seat_type.append(para.get_text())
    for para in soup.find_all("td", {"class": "review-rating-header route "}):
        route.append(para.get_text())
    for para in soup.find_all("td", {"class": "review-rating-header seat_comfort "}):
        seat_comfort.append(para.get_text())
    for para in soup.find_all("td", {"class": "rreview-rating-stars stars"}):
        cabin_staff_service.append(para.get_text())
    
    
    print(f"   ---> {len(reviews)} total reviews")

Scraping page 1
   ---> 100 total reviews
Scraping page 2
   ---> 200 total reviews
Scraping page 3
   ---> 300 total reviews
Scraping page 4
   ---> 400 total reviews
Scraping page 5
   ---> 500 total reviews
Scraping page 6
   ---> 600 total reviews
Scraping page 7
   ---> 700 total reviews
Scraping page 8
   ---> 800 total reviews
Scraping page 9
   ---> 900 total reviews
Scraping page 10
   ---> 1000 total reviews

In [44]:
import pandas as pd

# Find the maximum length of any list
max_length = max(len(reviews), len(seat_type), len(route), len(seat_comfort), len(cabin_staff_service))

# Function to pad lists with "N/A" if they are shorter
def pad_list(lst, target_length):
    return lst + ["N/A"] * (target_length - len(lst))

# Ensure all lists are the same length
reviews = pad_list(reviews, max_length)
seat_type = pad_list(seat_type, max_length)
route = pad_list(route, max_length)
seat_comfort = pad_list(seat_comfort, max_length)
cabin_staff_service = pad_list(cabin_staff_service, max_length)

# Create the dataset dictionary
dataset = {
    'reviews': reviews, 
    'seat_type': seat_type,
    'route': route,
    'seat_comfort': seat_comfort,
    'cabin_staff_service': cabin_staff_service
}

# Convert dictionary to DataFrame
df = pd.DataFrame(dataset)

# Display the dataset as a table
print(df)

# Save as CSV file
df.to_csv("airline_reviews.csv", index=False)
print("CSV file 'airline_reviews.csv' has been created successfully!")

                                               reviews seat_type route  \
0    Not Verified |  Very good service on this rout...       N/A   N/A
1    ✅ Trip Verified |   Flight mainly let down by ...       N/A   N/A
2    ✅ Trip Verified |   Another awful experience b...       N/A   N/A
3    ✅ Trip Verified |   The service was rude, full...       N/A   N/A
4    ✅ Trip Verified |   This flight was a joke. Th...       N/A   N/A
..                                                 ...       ...   ...
995  ✅ Trip Verified |  Orlando to Gatwick. Terribl...       N/A   N/A
996  ✅ Trip Verified | Mahe to Stockholm via London...       N/A   N/A
997  ✅ Trip Verified |  Glasgow to Tampa via Gatwic...       N/A   N/A
998  Not Verified |  Orlando to Gatwick. Travelling...       N/A   N/A
999  ✅ Trip Verified |  London to Abu Dhabi. This i...       N/A   N/A

    seat_comfort  cabin_staff_service
0            N/A  Cabin Staff Service
1            N/A  Cabin Staff Service
2            N/A  Cabin Staff Service
3            N/A  Cabin Staff Service
4            N/A  Cabin Staff Service
..           ...                  ...
995          N/A                  N/A
996          N/A                  N/A
997          N/A                  N/A
998          N/A                  N/A
999          N/A                  N/A

[1000 rows x 5 columns]
CSV file 'airline_reviews.csv' has been created successfully!

In [48]:
df = pd.DataFrame()
df["Seat Type"] = seat_type
df.head()

Empty DataFrame
Columns: [Seat Type]
Index: []

In [51]:
for header in soup.find_all("td", class_="review-rating-header cabin_flown"):
    # Find the corresponding value (the next <td> with class 'review-value')
    value_td = header.find_next_sibling("td", class_="review-value")

    if value_td:
        seat_type.append(value_td.get_text(strip=True))

In [52]:
df = pd.DataFrame()
df["Seat Type"] = seat_type
df.head()

        Seat Type
0  Business Class
1   Economy Class
2  Business Class
3     First Class
4  Business Class

In [53]:
# Find all occurrences of the 'seat_comfort' header
for header in soup.find_all("td", class_="review-rating-header seat_comfort"):
    # Find the corresponding rating container (next <td> with class 'review-rating-stars stars')
    rating_td = header.find_next_sibling("td", class_="review-rating-stars stars")
    
    # Count how many 'span' elements have class 'star fill' (filled stars)
    if rating_td:
        stars_filled = len(rating_td.find_all("span", class_="star fill"))
        seat_comfort.append(stars_filled)  # Append the rating (1-5) to the list

In [54]:
df = pd.DataFrame()
df["Seat Comfort"] = seat_comfort
df.head()

   Seat Comfort
0             3
1             1
2             3
3             4
4             3